* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
.conta {
    background: linear-gradient(234deg, #2766e1, #fe7f2d);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #08387f;
    
}
